
body {
    margin:0;
}

/* header */

header {
    background-image: url(../img/pattern.png);
    background-size:400px;
    background-color: #4ea0ff ;
    background-position: center top;
    height: 100px;
    margin: 0px;
}

#logo {
    height: 40px;
    margin-left: 10px;
    margin-top: 50px;
}

address, span {
    color: grey;
    font-style: normal;
}

#author {
    color: #4ea0ff;
}

/* main */

main {
    margin:10px;
}

/* figure */

figure {
    margin: 0;
}

figcaption {
    font-size: 12px;
}

/* List */
ul {
    padding: 15px;
}
